.clj-kondo/.cache/v1
.lsp/.cache
/.cpcache/
.nrepl-port
.calva/output-window
.calva/deps.clj.jar
python/2016/VENV
clojure/.calva
clojure/.clj-kondo/.cache/v1
clojure/.cpcache
clojure/.lsp/.cache
rust_solutions
python/VENV
